# Dependency directories
node_modules

# Configuration and Secrets (CRITICAL SECURITY)
.env               # Your file containing MongoDB URI, JWT Secret, and API Keys

# Build/Dist directories (Used for bundling frontends)
# If you configure Tailwind to compile to a 'dist' folder
/dist
/build